@import "colors";

.highlight {
  font: {
    size: 1.25rem;
    weight: bold;
  }
  line-height: 2;
  text-transform: uppercase;

  color: white;

  padding: .75rem;
  margin: 0;

  span {
    background-color: $magenta;
    padding: .3rem;
    box-shadow: 0.4rem 0 0 $magenta, -0.4rem 0 0 $magenta;
  }
}
