@import "colors";
@import "mixins";

.logo {
  height: 8rem;
  width: 8rem;
  padding: .5rem;

  margin: {
    top: 1rem;
    bottom: 1rem;
    left: auto;
    right: auto;
  }

  svg {
    border-radius: 50%;
    // border: 2px solid $magenta-dark;
    @include box-shadow(5px 5px 20px 0px #8C858C);
  }
}